
.jumbotron{
  background-color:#fbfbfb;
  color: #756c83;
}
h1{
  word-spacing: 10px;
  font-family: Arial
}
.lead{
  word-spacing: 5px;
  color: #756c83
}
ul{
  list-style: none;
  text-align: justify;
}
main{
  background-color: #b9e1dc;
}
h3{
  color: #f38181;
  text-shadow:  2px 2px 8px #fbfbfb;
}

hr{
  background-color: #756c83;
}
footer{
  background-color: #756c83;
}
h4{
  color: #fbfbfb;
  text-shadow: 2px 2px 8px #b9e1dc;
}
.col{
  color: #fbfbfb;
}

.img-icon{
  width: 50px;
}
